@import url("./App.css");
:root {
    --primary-color: #7E9CAE;
    --secondary-color: #FFB347;
    --background-color: #ffffff;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --navbar-background-color: #354F52;
    --link-color: #FF5A5F;
    --text-color: #333333;
    --card-background-color: #F2F2F2;
    --card-color: #000000;
    --imagen-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}