:root {
  --primary-color: #7E9CAE;
  --secondary-color: #FFB347;
  --background-color: #ffffff;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --navbar-background-color: #354F52;
  --link-color: #FF5A5F;
  --text-color: #333333;
  --card-background-color: #F2F2F2;
  --card-color: #000000;
  --imagen-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

  

body {  
  font-family: 'Alegreya', serif;
  color: var(--text-color);
  margin: 0;
  background-color: var(--background-color);
}

/* Header styles */
.header {
  text-align: center;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
}



a {
  color: var(--link-color);
  text-decoration: none;
}



h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: var(--primary-color);
}

/* Main styles */
main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

img#selfie {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 100%;
  max-height: 300px;
  box-shadow: var(--box-shadow);
}

.card {
  border: none;
  margin: 10px;
  background-color: var(--card-background-color) !important;
}

.card .card-body {
  padding: 0;
  color: var(--card-color);
  opacity: 0.8;
}
.imagen-lista {
  max-height: 100px;
  margin: auto;
  max-width: 100px;
  object-fit: contain;
  background-color: var(--secundary-color);
  opacity: 0.8;
  padding: 10px;
  border-radius: 5px;

  
    filter: var(--imagen-filter);
  
  }




.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-color);
}



hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 2rem 0;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 10px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .imagen-lista {
    max-height: 70px;
    max-width: 70px;
  }
}



