/* Global styles */
:root {
  --primary-color: #000;
  --secundary-color: #fff;
  --background-color: #fff;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --navar-background-color: #fff;

}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff;
    --background-color: #000;
    --box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    --navar-background-color: #000;
  }
}

body {
  font-family: 'Alegreya', serif;
  color: var(--primary-color);
  margin: 0;
  background-color: var(--background-color);
}

/* Header styles */
header {
  text-align: center;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--navar-background-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

/* Main styles */
main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

img#selfie {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 100%;
  max-height: 300px;
  box-shadow: var(--box-shadow);
}

.card {
  border: none;
  margin: 10px;
  background-color: var(--background-color);
}

.imagen-lista {
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 2rem 0;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .imagen-lista {
    max-height: 70px;
    max-width: 70px;
  }
}



