.principal {
  height: 100vh;
  max-width: 80vw;
  font-family: 'Roboto', sans-serif;
}

.presentacion {
  display: flex;
}

.presentacion > div {
  margin: 0 1rem;
}

.presentacion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px
}