
body{
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}

h1{
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}

h2{
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

li{
  list-style-type: none;
}


#selfie {
  border-radius: 15px;
  padding: 5px;
  max-width: 300px;
}
